@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button {
    @apply cursor-pointer;
  }
}

.terminal-status {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;

  /* font-family: "SFMono-Regular", Consolas, monospace; */
  font-size: 14px;
}

.message {
  opacity: 0;
  transform: translateY(6px);
  transition:
    opacity 350ms ease,
    transform 350ms ease;
}

.message.visible {
  opacity: 1;
  transform: translateY(0);
}